#recommend .box-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 75px;
    gap: 1%;
    /*background-color: #79b6b6;*/
}
#recommend .box-container .box{
    width: 30%;
    border-radius: .5rem;
    padding: 0 15px;
    margin-bottom: 40px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}
#recommend .box-container .box img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
}
#recommend .box-container .box .content{
    padding: 2rem;
}
#recommend .box-container .box .content h3{
    color: #000000;
}
#recommend .box-container .box .content h3 i{
    color: orange;
}
#recommend .box-container .box .content p{
    color: #000000;
    padding: 10px 0;
}
#recommend .box-container .box .content .stars i{
    color: orange;
}
#recommend .box-container .box .content .price{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
}
#recommend .box-container .box .content .price span{
    color:#666;
    font-size: small;
    text-decoration: line-through;
}
#recommend .box-container .box .content .btn {
    height: 25px;
    width: 100px;
    background-color: orange;
    text-decoration: none;
}

/*.banner{
    position: relative;
    text-align: center;
    color: white;
}
.banner img{
    width: 100%;
    height: 550px;
    object-fit: contain;
}
.banner-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}*/


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  
  .home .content{
    text-align: center;
  }
  
  .home .content h3{
    font-size: 4.5rem;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
  }
  
  .home .content p{
    font-size: 1.5rem;
    color:#fff;
    padding:.5rem 0;
  }
  
  .home .video-container video{
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .home .controls{
    padding:1rem;
    border-radius: 3rem;
    background:rgba(0,0,0,.7);
    position: relative;
    top:10rem;
  }
  
  .home .controls .vid-btn{
    height:1rem;
    width:1rem;
    display: inline-block;
    border-radius: 50%;
    background:#fff;
    cursor: pointer;
    margin:0 .5rem;
  }
  
  .home .controls .vid-btn.active{
    background:var(--orange);
  }