@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    body{
        margin: 0; 
        font-family: monospace;
    }
    header{
        position: absolute;
        width: 100%;
        z-index: 100;
        border-bottom: 1px solid rgba(236, 25, 25, 0.267);
        background-color: #0D0E12;
    }
    header ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style: none;
    }
    header li{
        padding: 30px 40px;
        color: #98BBF5;
    }
    header li.active, header li:hover{
        border-bottom: 2px solid #fff;
    }
    .slider{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, #2B2F3A, #0D0E12);
        overflow: hidden;
    }
    
    .slider::before{
        position: absolute;
        width: 50%;
        height: 100vh;
        content: '';
        top: 0;
        left: 0;
        background-color: #98BBF5;
    }
    .about-title{
        position: absolute;
        top: 20%;
        right: 60%;
        text-align: right;
        color: #fff;
        font-size: 40px;
        width: 70%;
        font-family: 'Pacifico', cursive;
        text-shadow: 3px 5px 0px #478860;
        line-height: .9em;
        transform: rotate(-5deg);
    }
    .des{
        font-size: 20px;
        width: 85%;
    }
    .images{
        position: absolute;
        bottom: 0%;
        left: 50%;
        --rotate: 0deg;
        transform: translate(-50%, 50%) rotate(var(--rotate));
        width: 1300px;
        height: 1300px;
        border-radius: 50%;
        transition: transform 0.5s ease-in-out;
        outline: 3px dashed #fff5;
        outline-offset: -100px;
    }
    .images .item{
        position: absolute;
        width: 100%;
        height: 98%;
        text-align: center;
        rotate: calc(60deg * var(--i));
        border-radius: 5px 10px 4px 8px;
        
    }
    .images .item img{
        height: 350px;
        border-radius:60%;
        -moz-border-radius:60%;
        -webkit-border-radius:60%;
        
    }
    
    .content{
        color: #fff;
        position: absolute;
        top: 20%;
        left: 70%;
        text-align: justify;
        width: 450px;
    }
    .content h1{
        color: #98BBF5;
        font-size: xxx-large;
    }
    .content button{
        margin-top: 30px;
        padding: 10px 30px;
        border-radius: 20px;
        background-color: #98BBF5;
        color: #151111;
        border: none;
        float: right;
        font-style:bold;
    }
    .content button > a {
        text-decoration: none;
        color: #000000;
    }
    .content button:hover {
        background-color: #ffffff;
        color: #000000;
    }
    .content .item{
        display: none;
    }
    .content .item.active{
        display: block;
    }
    @keyframes showContent{
        from{
            opacity: 0;
            transform: translateY(100px);
        }to{
            opacity: 1;
        }
    }
    .content .item.active h1{
        opacity: 0;
        animation: showContent 0.5s ease-in-out 1 forwards;
    }
    .content .item.active .des{
        opacity: 0;
        animation: showContent 0.5s 0.3s ease-in-out 1 forwards;
    }
    .content .item.active button{
        opacity: 0;
        animation: showContent 0.5s 0.6s ease-in-out 1 forwards;
    }
    
    
    #prev,
    #next{
        position: absolute;
        border: none;
        top: 50%;
        left: 250px;
        font-size: 100px;
        font-family: cursive;
        background-color: transparent;
        color: #fff;
        font-weight: bold;
        opacity: 0.3
    }
    #next{
        left: unset;
        right: 250px;
    }
    #next:hover,
    #prev:hover{
        opacity: 1
    }
