body {
    font-family: 'Arial';
}
.default-layout {
    margin-bottom: 48px;
    padding: 0;
}
.default-layout-top {
    margin-bottom: 48px;
    margin-top: 180px;
    margin-left: 150px;
    margin-right: 150px;
}
.default-layout-heading {
    color: orange;
    font-size: 2rem;
    font-weight: 900;
}
.default-layout-des {
    max-width: 1500px;
}
.index-module-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
}
.container-body {
    padding-top: 100px;  
    margin-bottom: 50px;
}
.blog-content {
    margin-left: 100px;
    margin-right: 120px;
}
.blog {
    justify-content: space-between;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.blog-items {
    width: 50%;
    text-align: justify;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
img{
    border-radius: 2%;
}
.banner1 {
    position: relative;
    text-align: center;
    color: white;
}
.banner-txt1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.blog-detail {
    display: flex;
    margin-left: 250px;
    margin-right: 270px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    text-align: justify;
}
.blog-detail-content {
    flex: 4;
    padding-right: 30px;
}
.blog-detail-contents {
    display: flex;
}
.blog-detail-content1 {
    flex: 1;
}
.blog-detail-items {
    flex: 2;
}
.table-of-content {
    border: 1px solid black;
}