body {
    font-family: 'Poppins';
}
.default-layout {
    margin-bottom: 48px;
    padding: 0;
}
.default-layout-top {
    margin-bottom: 48px;
    margin-top: 180px;
    margin-left: 150px;
}
.default-layout-heading {
    font-size: 2rem;
    font-weight: 900;
}
.default-layout-des {
    max-width: 1500px;
}
.index-module-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
}
.blog-left {
    padding: 0;
}
.PostItem-wrapper {
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 15px;
}
.PostItem-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.PostItem-author {
    align-items: center;
    display: flex;
}
.PostItem-author span {
    margin-left: 8px;
}
.blog-avatar img {
    background: transparent;
    border-radius: 50%;
    max-width: 50px;
    height: auto;
}
.PostItem-author > a,
.PostItem-actions > a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
.PostItem-actions {
    color: #757575;
    display: flex;
    font-size: 1.2rem;
    margin-right: -8px;
    user-select: none;
}
.blog-bookmark {
    cursor: pointer;
    padding: 4px 8px;
}
.blog-bookmark > a {
    text-decoration: none;
    color: #505050;
}
.PostItem-body {
    align-items: center;
    flex-direction: row-reverse;
    display: flex;
    /* box-sizing: inherit; */
}
.PostItem-info {
    flex: 1 1;
    order: 2;
    padding-right: 32px;
    /* font-size: 15px; */
}
.PostItem-info > a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: black;
}
.PostItem-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 8px;
}
.PostItem-des {
    color: #505050;
    font-size: 25px;
    line-height: 1.6;
    margin-top: 4px;
}
.PostItem-des > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.PostItem-time {
    font-size: 20px;
}
.PostItem-dot {
    margin: 0 8px;
}
.PostItem-thumb {
    flex-shrink: 0;
}
.PostItem-thumb img {
    max-width: 200px;
    height: auto;
}
.pagination-wrapper {
    position: relative;
    align-items: center;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination-pages-btn {
    align-items: center;
    display: flex;
    padding: 0 10px;
}
.pagination-pages-active {
    background-color: orange;
    border: 1px solid  orange;
    border-radius: 6px;
    color: #fff;
    padding: 3px 10px;
    width: 30px;
}
.pagination-pages {
    padding: 6px;
    width: 30px;
    border: 1px solid  #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: all .2s;
    display: flex;
}
.pagination-pages:hover {
    padding: 3px 10px;
    width: 30px;
    border: 1px solid #d0d7de;
}