
/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.clear {
    clear: both;
}

#main {
 
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 78px;
    background-color: #004444;
    transition: all .9s ease-in-out;
    z-index: 2;
}
.header-topbar {
    background-color: #0e6666;
    /* position: absolute; */
    z-index: 3;
}
.grid-wide {
    max-width: 1300px;
    display:block;
    padding: 0;
    margin: 0 auto;
}
.header-topbar-container .row {
    justify-content: space-between;
}
.header-topbar-container span {
    padding-right: 45px;
    font-size: 14px;
}
.header-topbar-container a {
    padding: 0 5px;
    color: #000000;
    text-decoration: none;
}
.row {
    display:flex ;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
.header-topbar-container {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 36px;;
}
ul {
    display: block;
    padding-inline-start: 40px;
}
.left-topbar {
    height:30px;
}
.left-topbar > a {
    align-self: center;
}
.right-topbar {
    float: right;
}
.header-topbar-container-login li {
    position: relative;
    display: inline-block;
    float: left;
    text-decoration: none;
    line-height: 32px;
    padding: 0px 1px;
    display: block;
    font-size: 12px;
}
#nav-container {
    display: inline-block;
    float: none;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#nav-container .nav {
    list-style-type: none;
    display: inline-block;
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
    font-size: 12px;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 1px 24px;
    display: block;
}
#nav > li:hover > a {
    background-color: #ccc;
    color:black;

}
#header .search-btn {
    float: right;
    padding: 0 40px;
}
#header .title {
    display:inline-block ;
    margin-left: 140px;
    margin-top: 7px;
    margin-bottom: 13px;
}
#header .search-btn:hover {
    background-color: brown;
    cursor: pointer;
}
#header .search-icon {
    color: #fff;
    font-size: 20px; 
    line-height: 46px ;
} 

/* ============================================================= */

/*slider*/
.slideshow-container {
    max-width: 1000px;
    position:relative;
    margin: auto;
    margin-top: 110px;
    background-color: #004444;
    text-align: center;
    z-index: 1;
}
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
 }

.prev {
    left: 0;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
  /* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* ======================================================================================================================= */

#content{
    margin-top: 78px;
}
/* thành phần chung */
#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
.section-heading {
    font-size: 2rem;
    text-align: center;
    color: orange;

}
.section-heading span{
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
}
.section-heading .space{
    background: none;
}
#content .section-sub-heading  {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* độ trong suốt từ 0-1 */
    opacity: 0.6;
}
/* ------------------------------ */
#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    /* độ cao giữa các dòng chữ với nhau */
    line-height: 1.4;
}
#content .member-list {
    margin-top: 48px;
}
#content .member-item {
    float: left;
    width: calc(100% / 5);
    text-align: center;
}
#content .member-item > a {
    font-size: 17px;
    font-style: bold;
    text-decoration: none;
    color: #000000;
}
#content .member-item > a:hover {
    color: #000000;
    box-shadow: 0 3px #004444;
    transition: box-shadow 0.3s;
}
#content .member-img {
    width: 150px;
    margin-top: 15px;
    border-radius: 6px;
}

 .footer{
    background:#333;
 }
  
 .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-left: 10%;
    padding-right: 10%;
 }
  
 .footer .box-container .box{
    flex:1 1 5rem;
 }
  
 .footer .box-container .box h3{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#fff;
 }
  
 .footer .box-container .box p{
    font-size: 0.75rem;
    padding:.7rem 0;
    color:#eee;
 }
  
 .footer .box-container .box a{
    display: block;
    font-size: 0.75rem;
    padding:.7rem 0;
    color:#eee;
    text-decoration: none;
 }
  
 .footer .box-container .box a:hover{
    color:orange;
 }
  
 .footer .credit{
    text-align: center;
    padding:1rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
 }
  
 .footer .credit span{
    color: orange;
 }
  
 .footer .box-container .box .img{
    display: flex;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
 }
  
  
