body{
    background-color: whitesmoke;
}
.container{
    background-color: white;
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
    padding: 50px;
    display: grid;
    border-bottom: 1px solid black;
    grid-template-columns: 5% 30% 30% 25%;
}
.logo img{
    display: flex;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.name{
    margin-top: 0px;
    font-size: xxx-large;
    font-family:fantasy;
}
.searchbar form{
    height: 50px;
    width: 50px;
    align-items: center;
}
.login button{
    height: 50px;
    width: 200px;
    border-radius: 35%;
    font-size: x-large;
    color: green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.menubar{
    position: absolute;
    height: 100%;
    width: 100px;
    background-color: lavender;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.home button{
    height: 100px;
    width: 100px;
    margin-top: auto;
    background-color: white;
    border: 0px;
}
.recomend button{
    height: 100px;
    width: 100px;
    margin-top: auto;
    background-color: white;
    border: 0px;
}
.rest button{
    height: 100px;
    width: 100px;
    margin-top: auto;
    background-color: white;
    border: 0px;
}
.comment button{
    height: 100px;
    width: 100px;
    margin-top: auto;
    background-color: white;
    border: 0px;
}
.contact button{
    height: 100px;
    width: 100px;
    margin-top: auto;
    background-color: white;
    border: 0px;
}
