* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding: 0px;
    height: 80px;
    align-items: center;
    background-color: white;
}

.logo {
    flex: 1;
}
.menu {
    flex: 4;
    display: flex;
}
.menu > li {
    padding: 60px;
    position: relative;
}
.menu > li > a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    line-height: 18px;
}
.menu > li > a:hover {
    background: -webkit-linear-gradient(30deg, #e94e40, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.others {
    flex: 1;
    display: flex;
    align-items: center;
}
.others > li {
    padding: 0 10px;
}
.others > li > a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    line-height: 18px;
}
.others > li:first-child {
    position: relative;
}
.others > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}
#slider {
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.5s;
}
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    top: 20px;
}
.dot-container {
    position: absolute;
    margin-top: -12%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot {
    height: 18px;
    width: 18px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}
.dot.active {
    background-image: linear-gradient(30deg, #e94e40, #ffde59);
}
footer {
    display: flex;
    justify-content: space-between; 
    padding: 50px;
    height: 300px;  
    background-image: linear-gradient(0deg, #e94e40, #ffde59);
    line-height: 30px;
    text-align: justify;
}
.box-1 {
    flex: 1;
    padding-right: 5%;
}
.box-2{
    flex: 2;
    display: flex;
}
.box {
    flex: 3;
}
.credit {
    text-align: center;
    padding: 10px;
    border-top: .1px solid black;
    background-color: #e94e40;
}
a:hover{
    text-decoration-line: underline;
}
.form {
    flex: 2;
    width: 400px;
    height: 340px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid black;
    margin-top: 200px;
    margin-right: 300px;
}
.form button {
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
}
.form-text input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
}
.form-text-1 input {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    padding-left: 10px;
}
.form > p {
    background: -webkit-linear-gradient(30deg, #e94e40, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button-1 {
    width: 100%;
    margin-top: 20px;
    background-image: linear-gradient(30deg, #e94e40, #ffde59);
}
.button-2 {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    background-image: linear-gradient(-30deg, deepskyblue, violet);
}
.box-3 {
    flex: 1;
    justify-content: space-between;   
    text-align: justify;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 150px;
}
.user {
    display: flex;
}

