/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
    font-size: 22px;
}

.clear {
    clear: both;
}

#main {
 
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 78px;
    background-color: #004444;
    transition: all .9s ease-in-out;
}
.header-topbar {
    background-color: #0e6666;
    /* position: absolute; */
    z-index: 3;
}
.grid-wide {
    max-width: 1300px;
    display:block;
    padding: 0;
    margin: 0 auto;
}
.header-topbar-container .row {
    justify-content: space-between;
}
.header-topbar-container span {
    padding-right: 45px;
    font-size: 14px;
}
.header-topbar-container a {
    padding: 0 5px;
    color: #000000;
    text-decoration: none;
}
.row {
    display:flex ;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
.header-topbar-container {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 36px;;
}
ul {
    display: block;
    padding-inline-start: 40px;
}
.left-topbar {
    height:30px;
}
.left-topbar > a {
    align-self: center;
}
.right-topbar {
    float: right;
}
.header-topbar-container-login li {
    position: relative;
    display: inline-block;
    float: left;
    text-decoration: none;
    line-height: 32px;
    padding: 0px 1px;
    display: block;
    font-size: 12px;
}
#nav-container {
    display: inline-block;
    float: none;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#nav-container .nav {
    list-style-type: none;
    display: inline-block;
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
    font-size: 12px;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 1px 24px;
    display: block;
}
#nav > li:hover > a {
    background-color: #ccc;
    color:black;

}
#header .search-btn {
    float: right;
    padding: 0 40px;
}
#header .title {
    display:inline-block ;
    margin-left: 140px;
    margin-bottom: 13px;
}
#header .search-btn:hover {
    background-color: brown;
    cursor: pointer;
}
#header .search-icon {
    color: #fff;
    font-size: 20px; 
    line-height: 46px ;
} 
/* 
#slider{
    margin-top: 78px; không bị chèn vào phần header
    padding-top: 50%;
    background: url('/assets/img/slider/slider2.jpg') top center / cover no-repeat; 
}
#slider .text-content {
    position: absolute;
    padding: 22px;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
}
*/
/* slider chưa làm được nên để đỡ slider có màu nền */
/* #slider {
    margin-top: 78px; 
    padding-top: 30%;
    background-color: wheat;

} */


/*slider*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 110px;
    background-color: #004444;
    text-align: center;
}
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#content{
    margin-top: 78px;
}
/* thành phần chung */
#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading  {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* độ trong suốt từ 0-1 */
    opacity: 0.6;
}
#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    /* độ cao giữa các dòng chữ với nhau */
    line-height: 1.4;
}
#content .member-list {
    margin-top: 48px;
}
#content .member-item {
    float: left;
    width: calc(100% / 5);
    text-align: center;
}
#content .member-name {
    font-size: 15px;
}
#content .member-img {
    width: 150px;
    margin-top: 15px;
    border-radius: 6px;
}
#footer{

}



